{{page-title "Pokémon TCG collection tracker"}}

<LinkTo @route="index">Home</LinkTo> | <LinkTo @route="wanted">Wanted cards</LinkTo> | <LinkTo @route="login">Login</LinkTo>

{{#if this.loading}}
  <p>Loading...</p>
{{else}}
  {{outlet}}
{{/if}}
